.TempStyles {
  font-size: xx-large;
  font-weight: 10000;
  color: black;
  padding: 20px,20px, 20px, 20px;
  margin: 20px;
}

.App {
  background-image: url(redYellow.jpeg);
  background-size:cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: auto;
}

.centerJust {
  display: inline-grid;
}

.weatherIcon {
  display: flex;
  margin: auto;
  justify-content: center;
}

.saveDataButton {
  display: flex;
  margin: auto;
  justify-content: center;
  margin-bottom: 20px;
  font-size: xx-large;
  font-weight: 10000;
  color: black;
  border-radius: 40px;
  padding-left: 30px;
  padding-right: 30px;
  background-color:cyan;
}

.headings {
  font-size: xx-large;
  font-weight: 10000;
  color: rgb(18, 21, 228);
  padding: 20px,20px, 20px, 20px;
  margin: 20px;
  text-decoration: underline;
}